include:
  - template: Auto-DevOps.gitlab-ci.yml

Docker Hub:
  stage: deploy
  image: docker:20.10.6
  services:
    - name: docker:20.10.6-dind
      command: [ "--experimental" ]

  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - make deploy-docker
  environment:
    name: docker.io
  only:
    - master


Docker Hub Dev:
  stage: deploy
  image: docker:20.10.6
  services:
    - name: docker:20.10.6-dind
      command: [ "--experimental" ]
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - make deploy-docker
  environment:
    name: docker.io
  only:
    - develop